{% load i18n %}

<noscript><h3>{{ step }}</h3></noscript>

<div>
    <div hr-membership step="'{{ step }}'"
                       step-slug="'{{ step.slug }}'"
                       step-show-roles="'{{ step.show_roles }}'"
                       step-help-text="'{{ step.help_text }}'"
                       step-available-list-title="'{{ step.available_list_title }}'"
                       step-members-list-title="'{{ step.members_list_title }}'"
                       step-no-available-text="'{{ step.no_available_text}}'"
                       step-no-members-text="'{{ step.no_members_text }}'"
                       json-data-url="'{{ form.initial.json_data_url }}'">
    </div>
    <script type="text/ng-template" id="membership_workflow.html">
        <div class="membership">
            <h3 ng-bind="step"></h3>
            <div class="membership" ng-class="{$ stepSlug $}_membership">
              <div class="header">
                <div class="help_text" ng-bind="stepHelpText"></div>
                <div class="left">
                  <div class="fake_table fake_table_header">
                    <span class="members_title" ng-bind="stepAvailableListTitle"></span>
                    <input type="text" ng-model="available_filter.name" class="filter" placeholder="Filter"/>
                  </div>
                </div>
                <div class="right">
                  <div class="fake_table fake_table_header">
                    <span class="members_title" ng-bind="stepMembersListTitle"></span>
                    <input type="text" ng-model="members_filter.name" class="filter" placeholder="Filter"/>
                  </div>
                </div>
              </div>
              <div class="left">
                <div class="fake_table">
                  <ul class="available_members" ng-show="available.length">
                    <ul class="nav nav-pills btn-group" ng-repeat='member in available | filter:available_filter'
                        ng-class-even="'light_stripe'" ng-class-odd="'dark_stripe'" ng-class="{'last_stripe':$last}">
                      <li class="member">
                        <span class="display_name">{$ member.name $}</span>
                      </li>
                      <li class="active">
                        <a class="btn btn-primary" ng-click="addMember(member, default_role_id)">+</a>
                      </li>
                    </ul>
                  </ul>
                  <ul class="no_results" ng-hide="(available | filter:available_filter).length">
                    <li ng-bind="stepNoAvailableText"></li>
                  </ul>
                </div>
              </div>
              <div class="right">
                <div class="fake_table">
                  <ul class="members" ng-show="members.length">
                    <ul class="nav nav-pills btn-group" ng-repeat='member in members | filter:members_filter'
                        ng-class-even="'light_stripe'" ng-class-odd="'dark_stripe'" ng-class="{'last_stripe':$last}">
                      <li class="member">
                        <span class="display_name" ng-bind="member.name"></span>
                      </li>
                      <li class="active">
                        <a class="btn btn-primary" ng-click='removeMember(member)'>-</a>
                      </li>
                      <li class="dropdown role_options" style="display: list-item;" ng-show='stepShowRoles'>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                          <span class="roles_display" ng-bind="rolesText(member)"></span>
                          <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu role_dropdown clearfix">
                          <li ng-class="{true: 'selected', false: '' }[groupHasRole(member, role)]"
                              ng-repeat='role in role_structure.roles' ng-click='toggleRole(member.id, role)'>
                            <i class="icon-ok"></i>
                            {$ role.name $}
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </ul>
                  <ul class="no_results" ng-hide="(members | filter:members_filter).length">
                    <li ng-bind="stepNoMembersText"></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="hide">
              <label for="id_default_{$ stepSlug $}_role">Default role</label>
              <input id="id_default_{$ stepSlug $}_role" name="default_{$ stepSlug $}_role" type="text"
                     ng-model="role_structure.default_role_id">

              <label ng-repeat-start="role in role_structure.roles" for="id_{$ stepSlug $}_role_{$ role.id $}"
                     ng-bind="role.name"></label>
              <select ng-repeat-end
                      multiple="multiple"
                      id="id_{$ stepSlug $}_role_{$ role.id $}"
                      name="{$ stepSlug $}_role_{$ role.id $}"
                      ng-model="role.selected_groups">
                <option ng-repeat="group in role_structure.groups" value="{$ group.id $}" ng-bind="group.name"
                        ng-selected="{true: 'selected', false: '' }[roleHasGroupSelected(role, group.id)]">
              </select>
            </div>
        </div>
    </script>
</div>

<script>
  if (typeof $ !== 'undefined') {
    horizon.membership.workflow_init($(".workflow"), "{{ step.slug }}", "{{ step.get_id }}");
  } else {
    addHorizonLoadEvent(function() {
      horizon.membership.workflow_init($(".workflow"), "{{ step.slug }}", "{{ step.get_id }}");
    });
  }

</script>
