{% load i18n %}

<div ng-app="horizonApp">
    <div hr-membership step="'{{ step }}'"
                       step-slug="'{{ step.slug }}'"
                       step-show-roles="'{{ step.show_roles }}'"
                       step-help-text="'{{ step.help_text }}'"
                       step-available-list-title="'{{ step.available_list_title }}'"
                       step-members-list-title="'{{ step.members_list_title }}'"
                       step-no-available-text="'{{ step.no_available_text}}'"
                       step-no-members-text="'{{ step.no_members_text }}'">
    </div>
    <script type="text/ng-template" id="membership_workflow.html">
        <div class="membership">
            <h3 ng-bind="step"></h3>
            <div class="membership" ng-class="{$ stepSlug $}_membership" data-show-roles="{$ stepShowRoles $}">
              <div class="header">
                <div class="help_text" ng-bind="stepHelpText"></div>
                <div class="left">
                  <div class="fake_table fake_table_header" ng-class="fake_{$ stepSlug $}_table">
                    <span class="members_title" ng-bind="stepAvailableListTitle"></span>
                    <input type="text" name="available_{$ stepSlug $}_filter" id="available_{$ stepSlug $}"
                           ng-model="available_filter.name" class="filter" ng-class="{$ stepSlug $}_filter"
                           placeholder="Filter"/>
                  </div>
                </div>
                <div class="right">
                  <div class="fake_table fake_table_header" ng-class="fake_{$ stepSlug $}_table">
                    <span class="members_title" ng-bind="stepMembersListTitle"></span>
                    <input type="text" name="{$ stepSlug $}_members_filter" id="{$ stepSlug $}_members"
                           ng-model="members_filter.name" class="filter" ng-class="{$ stepSlug $}_filter"
                           placeholder="Filter"/>
                  </div>
                </div>
              </div>
              <div class="left filterable" ng-class="{$ stepSlug $}_filterable">
                <div class="fake_table" ng-class="fake_{$ stepSlug $}_table" id="available_{$ stepSlug $}">
                  <ul class="available_members" ng-class="available_{$ stepSlug $}" ng-show="available.length">
                    <ul class="nav nav-pills btn-group" ng-repeat='member in available | filter:available_filter'
                        ng-class-even="'light_stripe'" ng-class-odd="'dark_stripe'" ng-class="{'last_stripe':$last}">
                      <li class="member" data-update_group_members-id="id_update_group_members_6bd4b7bedb8448a1a62c1b8f75340ae1">
                        <span class="display_name">{$ member.name $}</span>
                      </li>
                      <li class="active">
                        <a class="btn btn-primary" ng-click="addMember(member)">+</a>
                      </li>
                    </ul>
                  </ul>
                  <ul class="no_results" id="no_available_{$ stepSlug $}" ng-hide="(available | filter:available_filter).length">
                    <li ng-bind="stepNoAvailableText"></li>
                  </ul>
                </div>
              </div>
              <div class="right filterable" ng-class="{$ stepSlug $}_filterable">
                <div class="fake_table" ng-class="fake_{$ stepSlug $}_table" id="{$ stepSlug $}_members">
                  <ul class="members" ng-class="{$ stepSlug $}_members" ng-show="members.length">
                    <ul class="nav nav-pills btn-group" ng-repeat='member in members | filter:members_filter'
                        ng-class-even="'light_stripe'" ng-class-odd="'dark_stripe'" ng-class="{'last_stripe':$last}">
                      <li class="member" data-update_group_members-id="id_update_group_members_6bd4b7bedb8448a1a62c1b8f75340ae1">
                        <span class="display_name">{$ member.name $}</span>
                      </li>
                      <li class="active">
                        <a class="btn btn-primary" ng-click='removeMember(member)'>-</a>
                      </li>
                      <li class="dropdown role_options" style="display: list-item;" ng-show='has_roles'>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                          <span class="roles_display">{$ roleShow(member) $}</span>
                          <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu role_dropdown clearfix">
                          <li data-role-id="role.id" ng-class="{true: 'selected', false: '' }[hasRole(member, role.id)]" ng-repeat='role in all_roles' ng-click='toggleRole(member, role)'>
                            <i class="icon-ok"></i>
                            {$ role.name $}
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </ul>
                  <ul class="no_results" id="no_{$ stepSlug $}_members" ng-hide="(members | filter:members_filter).length">
                    <li ng-bind="stepNoMembersText"></li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
    </script>
</div>

<div class="hide">
  {% include "horizon/common/_form_fields.html" %}
</div>

<script>
  if (typeof $ !== 'undefined') {
    horizon.membership.workflow_init($(".workflow"), "{{ step.slug }}", "{{ step.get_id }}");
  } else {
    addHorizonLoadEvent(function() {
      horizon.membership.workflow_init($(".workflow"), "{{ step.slug }}", "{{ step.get_id }}");
    });
  }

</script>
