{% load i18n %}

<div ng-app="horizonApp">
    <div ng-controller="MembershipController">
        This is not angular <br/>
        Python scripts still loaded? {{ step }} <br/>
        Angular scripts loading at all? <span ng-bind="chainsaw"></span>
        <div hr-membership step="{{ step }}" step-slug="{{ step.slug }}"></div>
    </div>
    <script type="text/ng-template" id="membership_angular.html">
        <div class="membership">
            <noscript><h3 ng-bind="step"/></noscript>
            <h3>Angular Directive loaded</h3>
            <div class="membership" ng-class="{$ step.slug $}_membership" data-show-roles="{$ step.show_roles $}">
              <div class="header">
                <div class="help_text" ng-bind="step.help_text"></div>
                <div class="left">
                  <div class="fake_table fake_table_header" ng-class="fake_{$ step.slug $}_table">
                    <span class="members_title" ng-bind="step.available_list_title"></span>
                    <input type="text" name="available_{$ step.slug $}_filter" id="available_{$ step.slug $}" class="filter" ng-class="{$ step.slug $}_filter" placeholder="Filter"/>
                  </div>
                </div>
                <div class="right">
                  <div class="fake_table fake_table_header" ng-class="fake_{$ step.slug $}_table">
                    <span class="members_title" ng-bind=" step.members_list_title"></span>
                    <input type="text" name="{$ step.slug $}_members_filter" id="{$ step.slug $}_members" class="filter" ng-class="{$ step.slug $}_filter" placeholder="Filter"/>
                  </div>
                </div>
              </div>
              <div class="left filterable" ng-class="{$ step.slug $}_filterable">
                <div class="fake_table" ng-class="fake_{$ step.slug $}_table" id="available_{{ step.slug }}">
                  <ul class="available_members" ng-class="available_{$ step.slug $}"></ul>
                  <ul class="no_results" id="no_available_{$ step.slug $}">
                    <li>{$ step.no_available_text $}</li>
                  </ul>
                </div>
              </div>
              <div class="right filterable" ng-class="{$ step.slug $}_filterable">
                <div class="fake_table" ng-class="fake_{$ step.slug $}_table" id="{$ step.slug $}_members">
                  <ul class="members" ng-class="{$ step.slug $}_members"></ul>
                  <ul class="no_results" id="no_{$ step.slug $}_members">
                    <li ng-bind="step.no_members_text"></li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
    </script>
</div>

<div class="hide">
  {% include "horizon/common/_form_fields.html" %}
</div>

<script>
  if (typeof $ !== 'undefined') {
    horizon.membership.workflow_init($(".workflow"), "{{ step.slug }}", "{{ step.get_id }}");
  } else {
    addHorizonLoadEvent(function() {
      horizon.membership.workflow_init($(".workflow"), "{{ step.slug }}", "{{ step.get_id }}");
    });
  }

</script>
